#dashboard-wrapper {
  padding: 1rem;
  overflow: hidden;

  section {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    max-width: 1199px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #f4f4f4;

    .search-wrapper {
      padding: 1rem;

      .search-query {
        text-align: center;
        margin-top: 0.5rem;
      }
    }

    .sort-and-filter-options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.25rem;
      padding: 1rem;
      margin-right: 1rem;
    }

    .tasklist-wrapper {
      .applied-filters {
        display: flex;
        gap: 1rem;
        padding: 0 2rem;

        .btn {
          span {
            .icon {
              margin-left: 0.25rem;
              &:hover {
                background-color: #fff;
                color: #000;
              }
            }
          }

          &.default {
            background-color: #00abab;
            color: #fff;
          }
        }
      }

      .tasklist {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 1rem;
        transition: gap 0.5s ease-in-out;

        // no task
        .empty {
          flex-basis: 100% !important;
          height: 220px;
          width: 100%;
          position: relative;
          background-color: #fff;
          border: 1px solid #000;
          border-radius: 0.5rem;
          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            span {
              font-size: 4rem;
              padding-bottom: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            p {
              font-size: 1.25rem;
            }
          }
        }

        .task {
          flex-basis: 100%;
          background-color: #fff;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 8px;
          transition: flex-basis 0.5s ease-in-out;

          word-wrap: break-word; /* Ensures long words wrap */
          overflow-wrap: break-word; /* Modern equivalent - Breaks only at natural points*/
          word-break: break-word; /* Older browsers */
          white-space: normal; /* Allows multi-line text */
          position: relative;

          display: flex;
          flex-direction: column;

          .actions {
            margin-top: auto;

            .right {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
            }
          }

          .btn {
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;

            &.low,
            &.medium,
            &.high,
            &.pending,
            &.completed {
              color: #fff;
              cursor: default;
            }

            &.low {
              background-color: #00d11f;
            }
            &.medium {
              background-color: #928b00;
            }
            &.high {
              background-color: #de5656;
            }
            &.pending {
              background-color: #928b00;
            }
          }

          .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .right {
              .btn {
                padding: 0.375rem;
                .icon {
                  vertical-align: text-bottom;
                  width: 1rem;
                  height: 1rem;
                }
              }
            }
          }

          input {
            margin-right: 0.5rem;
            width: 1rem;
            height: 1rem;
            vertical-align: sub;
          }

          .title {
            font-weight: bold;
          }

          .desc,
          input {
            margin-bottom: 0.5rem;
          }

          .title,
          .desc {
            .btn {
              border: 0;
              padding: 0;
              margin-left: 0.25rem;
              background-color: transparent;
            }
          }

          &.disabled {
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              background: rgba(255, 255, 255, 0.75);
            }

            input,
            button:not(.read-more) {
              position: relative;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  #dashboard-wrapper {
    section {
      .tasklist-wrapper {
        .tasklist.grid {
          li {
            flex-basis: calc(50% - 8px);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #dashboard-wrapper {
    section {
      .tasklist-wrapper {
        .tasklist.grid {
          li {
            flex-basis: calc(33.33% - 10.67px);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  #dashboard-wrapper {
    section {
      .tasklist-wrapper {
        .tasklist.grid {
          li {
            flex-basis: calc(25% - 12px);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #dashboard-wrapper {
    section {
      .tasklist-wrapper {
        .tasklist.grid {
          li {
          }
        }
      }
    }
  }
}
